body {
  margin: 0;
  padding: 0;
  padding: left 200px;
  margin-left: 200px;
}
body {
  background-image: url("./img/cifer.jpg");

  background-size: cover;
}

textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  min-height: 100px;
  color: rgb(15, 15, 15);
  border-radius: 20px;
  margin: left 200px;
  padding: 10px;
  resize: none;
}
input:hover {
  background: rgb(157, 184, 216);
  border: 1px solid #00090a;
  border: radius 10px;
  margin: left 50px;
  color: rgb(15, 15, 15);
}
input:active {
  background: #cee5d0;
}
h1 {
  font-size: 30px;
  color: rgb(54, 42, 165);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  align-items: center;
}
input {
  border-radius: 5px;
}

input:hover {
  background: rgba(255);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(10, 5, 17);
}

footer {
  background: rgb(192, 229, 226);
  text-align: center;
  font-size: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
  left: 10px;
  font-family: "arial-black";
}
div {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}

#txt1,
#txt2,
#llaveCifer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #containerPrincipal{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

} */
